.Results {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.Results-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 20%;
  padding: 0.5rem 0.75rem;
  box-sizing: border-box;
}

.Results-symbol {
  font-size: 4rem;
}

.Results-title {
  text-align: center;
}
